body {
  background-color: #d9f5ea;
  color: #2a6171;
  font-family: "Englebert", "Afacad Flux";
}
header {
  border-bottom: 1px solid #a4d7c4;
  padding: 0 0 20px 0;
}

a {
  color: #2a6171;
}
.weather-app {
  background: whitesmoke;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 10px 15px 10px #75cac3;
  border-radius: 12px;
  padding: 30px;
}
.search-form-input {
  background-color: #d9f5ea;
  border: none;
  border-radius: 8px;
  width: 80%;
  padding: 15px;
  font-size: 16px;
}
.search-form-button {
  background-color: #2a6171;
  padding: 10px;
  border: none;
  margin-left: 5px;
  border-radius: 8px;
  color: whitesmoke;
  font-size: 16px;
}
.current-city {
  font-size: 50px;
  line-height: 55px;
  margin: 20px 20px 0 20px;
  text-align: center;
  text-shadow: 2px 0 rgb(154, 154, 242);
}
.current-data {
  display: flex;
  justify-content: space-between;
}
.current-details {
  font-size: 16px;
  line-height: 20px;
}
.current-container {
  display: flex;
}
.current-icon {
  font-size: 45px;
}
.current-htemp {
  font-size: 75px;
  font-weight: 900;
}
.current-htemp-unit {
  font-size: 35px;
  margin-top: 15px;
}
.current-ltemp {
  font-size: 24px;
  margin-left: 5px;
  margin-top: 45px;
  color: rgba(#2a6171, 0.4);
}
.current-ltemp-unit {
  font-size: 12px;
  margin-top: 48px;
}
.current-description {
  font-size: 16px;

  text-align: center;
}
footer {
  border-top: 1px solid #a4d7c4;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
