body {
  background-color: #d9f5ea;
  font-family: "Englebert", "Afacad Flux";
}
header {
  border-bottom: 1px solid #a4d7c4;
  padding: 0 0 30px 0;
}
a {
  color: #053e28;
}
.weather-app {
  background: whitesmoke;
  max-width: 800px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(7, 45, 20, 0.08);
  border-radius: 12px;
  padding: 30px;
}
.search-form-input {
  background-color: #e3f6ee;
  border: none;
  border-radius: 8px;
  width: 80%;
  padding: 15px;
  font-size: 16px;
}
.search-form-button {
  background-color: #053e28;
  padding: 15px;
  border: none;
  margin-left: 5px;
  border-radius: 8px;
  color: whitesmoke;
  font-size: 16px;
}
.current-data {
  display: flex;
  justify-content: space-between;
}
footer {
  border-top: 1px solid #a4d7c4;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
